<html>
    <head>
        <title>
            Welcome to Product Insert
        </title>
    </head>
    <body>
        <table>
            <form action="" method="post" enctype="multipart/form-data">
                <tr>
                <td>Brand:</td>
                <td><select name="drpbrand" id="brand"><option value="1">Tata</option>
                <option value="2">Reliance</option>
                </select></td></tr>
                <tr>
                <td>Product Name:</td>
                <td><input type="text" name="pname"></td></tr>
                <tr></tr>
                <tr><td>Product price:</td>
               <td><input type="text"  name="pprice"></td></tr>
               <tr><td>Images</td><td><input type="file" name="pfile" multiple></td></tr>
                <tr><td>&nbsp;</td><td><input type="submit" value="Save"></td></tr>
            </form>
        </table>
    </body>
</html>